In [ ]:
import pandas as pd

#### Описание данных

В папке Data находится информация о студентах. Всего 10 групп студентов. Файлы делятся на две категории:
    * Students_info_i - информация о студентах из группы i
    * Students_marks_i - оценки студентов из группы i за экзамены

Одно из важных достоинств pandas $-$ это удобные методы реляционного взаимодействия с данными, аналогичные, например, возможностям SQL для слияния и конкатенации таблиц: merge, join, concat. Наличие готовых методов позволяет не реализовывать самостоятельно поэлементную обработку данных и оперировать сразу целыми таблицами данных.

Подробно об этих методах посмотрите тут: https://www.kaggle.com/residentmario/renaming-and-combining#Combining

#### Задание 1. 

Соберите всю информацию о студентах в одну таблицу df. В получившейся таблице должна быть информация и оценки всех студентов из всех групп. Напечатайте несколько строк таблицы для демонстрации результата.¶

In [ ]:
import pandas as pd

df = pd.DataFrame()

for i in range(0,10):
    df_stu = pd.read_csv(f'Data/Students_info_{i}.csv')
    df_marks = pd.read_csv(f'Data/Students_marks_{i}.csv')
    df1 = pd.concat([df_stu, df_marks[['math score','reading score', 'writing score']]], axis = 1)
    df = pd.concat([df, df1])

# df.head()
# df.tail()
df.sample(10)
#your code here

#### Задание 2. 

Удалите столбец index у полученной таблицы. Напечатайте первые 10 строк таблицы. Выведите на экран размеры полученной таблицы.

In [ ]:

df.drop('index', inplace=True, axis=1)

df.sample(10)
df.shape


#your code here

#### Задание 3. 

Выведите на экран статистические характеристики числовых столбцов таблицы (минимум, максимум, среднее значение, стандартное отклонение)

In [ ]:
import numpy as np

print('     minimum scores:')
print(np.min(df[['math score', 'reading score', 'writing score']]))

print('\n     mean scores:')
print(np.mean(df[['math score', 'reading score', 'writing score']]))

print('\n     maximum scores:')
print(np.max(df[['math score', 'reading score', 'writing score']]))

print('\n     std of scores:')
print(np.std(df[['math score', 'reading score', 'writing score']]))

df.describe()
# your code here

#### Задание 4. 

Проверьте, есть ли в таблице пропущенные значения

In [ ]:

df.info()


# your code here

#### Задание 5. 

Выведите на экран средние баллы студентов по каждому предмету (math, reading, writing)

In [ ]:
print('\n     mean scores:')
print(np.mean(df[['math score', 'reading score', 'writing score']]))
# your code here

#### Задание 6. 

Как зависят оценки от того, проходил ли студент курс для подготовки к сдаче экзамена (test preparation course)? Выведите на экран для каждого предмета в отдельности средний балл студентов, проходивших курс для подготовки к экзамену и не проходивших курс.

In [ ]:
# df.columns = df.columns.str.replace(' ', '_')
df.rename(columns = {'test preparation course':'test_preparation_course'}, inplace = True)
df_with_course = df[df.test_preparation_course == 'completed']
df_without_course = df[df.test_preparation_course == 'none']


print('\n     mean scores of students who completed the preparation course:')
print(np.mean(df_with_course[['math score', 'reading score', 'writing score']]))

print('\n     mean scores of students who didn\'t complete the preparation course:')
print(np.mean(df_without_course[['math score', 'reading score', 'writing score']]))
# your code here

#### Задание 7. 

Выведите на экран все различные значения из столбца lunch.

In [ ]:

set(df.lunch)


# your code here

#### Задание 8. 

Переименуйте колонку "parental level of education" в "education", а "test preparation course" в "test preparation" с помощью метода pandas rename
https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.rename.html

In [ ]:
df.rename(columns = {'parental level of education':'education'}, inplace = True)
df.rename(columns = {'test_preparation_course':'test preparation'}, inplace = True)
# your code here

**Зафиксируем минимальный балл для сдачи экзамена**

In [ ]:
passmark = 50

#### Задание 9. 

Ответьте на вопросы:

    * Какая доля студентов сдала экзамен по математике (passmark > 50)?
    * Какая доля студентов, проходивших курс подготовки к экзамену, сдала экзамен по математике?
    * Какая доля женщин, не проходивших курс подготовки к экзамену, не сдала экзамен по математике?

In [ ]:
print(f'Доля студентов, сдавших экз по математике:', end = ' ')
print(len(df[df['math score'] > passmark])/len(df))

print(f'Доля студентов, проходивших курс подготовки к экзамену и сдавших экз по математике:', end = ' ')
print(len(df[df['math score'] > passmark & (df['test preparation'] == 'completed')])/len(df))

print(f'Доля женщин, не проходивших курс подготовки к экзамену и не сдавших экз по математике:', end = ' ')
print(len(df[df['math score'] < passmark & (df['test preparation'] == 'none') & (df['gender'] == 'female')]))
# your code here

#### Задание 10. 

С помощью groupby выполните задания ниже. Также выведите время выполнения каждого из заданий.

    * Для каждой этнической группы выведите средний балл за экзамен по чтению
    * Для каждого уровня образования выведите минимальный балл за экзамен по письму

In [ ]:
print(df.groupby(['race/ethnicity'])[['reading score']].mean())
print(df.groupby(['education'])[['writing score']].min())
# your code here

#### Задание 11.

Выполните задание 11 с помощью циклов. Сравните время выполнения.

In [ ]:
# лирическое отступление - борьба с индексами (я - их, или они - меня?)
# for i in set(df['race/ethnicity']):
#         print(i)

# i = 'group A'
# df1 = pd.DataFrame({'groups': ['group A', 'group B','group A', 'group B','group A', 'group B'],
#                   'reading': [1,2,3,4,5,6]})
# df1[df1.groups == f'{i}']
# len(df1[df1.groups == 'group A'])
# df1[df1['groups'] == 'group A'].reading.mean()
# df1[df1['groups'] == 'group A']['reading'].mean()
# print(df1[df1['groups'] == 'group A'])



import time

t = time.time()
print(df.groupby(['race/ethnicity'])[['reading score']].mean())
t1 = time.time() - t
print(f'elapsed time: {t1}')
print('')

t = time.time()
print('race\ethnicity'.ljust(17) + 'mean reading score')
for i in sorted(set(df['race/ethnicity'])):
        print(i.ljust(17), end = '')
        print(df[df['race/ethnicity'] == f'{i}']['reading score'].mean())
t2 = time.time() - t
print(f'elapsed time: {t2}')

# groupby работает быстрее
# your code here

#### Задание 12. 

Выведите на экран средние баллы студентов по каждому предмету в зависимости от пола и уровня образования. То есть должно получиться количество групп, равных 2 * (число уровней образования), и для каждой такой группы выыведите средний балл по каждому из предметов.

Это можно сделать с помощью сводных таблиц (pivot_table). Дополнительно о них почитать можно тут:

https://www.kaggle.com/kamilpolak/tutorial-how-to-use-pivot-table-in-pandas

In [ ]:
df.head()

pd.pivot_table(df, index = ['gender', 'education'],
               values = ['math score', 'reading score', 'writing score'],
              aggfunc = np.mean)
# your code here

#### Задание 13. 

Сколько студентов успешно сдали экзамен по математике?

Создайте новый столбец в таблице df под названием Math_PassStatus и запишите в него F, если студент не сдал экзамен по математике (балл за экзамен < passmark), и P иначе.

Посчитайте количество студентов, сдавших и не сдавших экзамен по математике.

Сделайте аналогичные шаги для экзаменов по чтению и письму.

In [ ]:

# a_lambda_function = lambda x: x*2 if x < 3 else x
passmark = 50
# df.assign(Math_PassStatus=lambda x: x['math score']+2)
df['Math_PassStatus'] = df['math score'].apply(lambda x: 'F' if x < passmark else 'P')
df.head()
print(df.groupby(['Math_PassStatus'])[['math score']].count())
# тут если применить count ко всему датафрейму, подсчитает в каждом столбце, подэтому подсчитала в math score

df['Reading_PassStatus'] = df['reading score'].apply(lambda x: 'F' if x < passmark else 'P')
df['Writing_PassStatus'] = df['writing score'].apply(lambda x: 'F' if x < passmark else 'P')

print(df.groupby(['Reading_PassStatus'])[['reading score']].count())
print(df.groupby(['Writing_PassStatus'])[['writing score']].count())

df.head()


# your code here

#### Задание 14. 

Сколько студентов успешно сдали все экзамены?

Создайте столбец OverAll_PassStatus и запишите в него для каждого студента 'F', если студент не сдал хотя бы один из трех экзаменов, а иначе 'P'.

Посчитайте количество студентов, которые сдали все экзамены.

In [ ]:
df["OverAll_PassStatus"] = df[["Math_PassStatus", "Reading_PassStatus", 'Writing_PassStatus']].apply(lambda x:
                                                                                                    'F' if (x[['Math_PassStatus', 'Reading_PassStatus', 'Writing_PassStatus']] == 'F').any() else 'P', axis = 1)

df.sample(20)
# your code here

#### Задание 15. 

Переведем баллы в оценки

*Система перевода баллов в оценки*

        [90;100] = A
        [80;90) = B
        [70;80) = C
        [60;70) = D
        [50;60) = E
        [0;50) = F (Fail)

Создайте вспомогательную функцию, которая будет по среднему баллу за три экзамена выставлять оценку студенту по данным выше критериям.

Создайте столбец Grade и запишите в него оценку каждого студента.

Выведите количество студентов, получивших каждую из оценок.

In [ ]:
def GetGrade(average_mark):
    # your code here    

# your code here